<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 g-5 py-5">
        <div class="col d-flex align-items-start">
            <div>
                <h3 class="fw-bold mb-3 fs-4">
                    <i class="fa-solid fa-file-invoice-dollar me-2"></i>
                    Чеки
                </h3>
                <p>Здійснювати продаж товарів (додавання чеків). Переглянути список усіх чеків, створених Вами за цей день...</p>
                <a class="btn btn-light">Перейти</a>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div>
                <h3 class="fw-bold mb-3 fs-4">
                    <i class="fa-solid fa-clipboard-user me-2"></i>
                    Клієнти
                </h3>
                <p>Отримати інформацію про усіх постійних клієнтів, відсортованих за прізвищем. Здійснити пошук постійних клієнтів за прізвищем...</p>
                <a class="btn btn-light" asp-action="Index" asp-controller="Client">Перейти</a>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div>
                <h3 class="fw-bold mb-3 fs-4">
                    <i class="fa-solid fa-basket-shopping me-2"></i>
                    Товари
                </h3>
                <p>Отримати інформацію про усі товари, відсортовані за назвою. Здійснити пошук товарів, що належать певній категорії, відсортованих за назвою...</p>
                <a class="btn btn-light" asp-action="Index" asp-controller="Product">Перейти</a>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div>
                <h3 class="fw-bold mb-3 fs-4">
                    <i class="fa-solid fa-shop me-2"></i>
                    Товари в магазині
                </h3>
                <p>Отримати інформацію про усі товари у магазині, відсортовані за назвою...</p>
                <a class="btn btn-light">Перейти</a>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div>
                <h3 class="fw-bold mb-3 fs-4">
                    <i class="fa-solid fa-user me-2"></i>
                    Про мене
                </h3>
                <p>Отримати всю інформацію про себе...</p>
                <a class="btn btn-light">Перейти</a>
            </div>
        </div>
    </div>
</div>