@using Zlagoda.Business.Entities;
 
<div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 g-5 py-5">
        <div class="col d-flex align-items-start">
            <div>
                <h3 class="fw-bold mb-3 fs-4">
                    <i class="fa-solid fa-user me-2"></i>
                    Працівники
                </h3>
                <p>Додавати, редагувати, видаляти дані про працівників. Отримати інформацію про усіх працівників, відсортованих за прізвищем...</p>
                <a class="btn btn-light" asp-controller="Employee" asp-action="Index">Перейти</a>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div>
                <h3 class="fw-bold mb-3 fs-4">
                    <i class="fa-solid fa-clipboard-user me-2"></i>
                    Клієнти
                </h3>
                <p>Додавати, редагувати, видаляти дані про постійних клієнтів. Отримати інформацію про усіх постійних клієнтів, відсортованих за прізвищем...</p>
                <a class="btn btn-light" asp-action="Index" asp-controller="Client">Перейти</a>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div>
                <h3 class="fw-bold mb-3 fs-4">
                    <i class="fa-solid fa-tag me-2"></i>
                    Категорії
                </h3>
                <p>Додавати, редагувати, видаляти дані про категорії товарів. Отримати інформацію про усі категорії, відсортовані за назвою...</p>
                <a class="btn btn-light" asp-action="Index" asp-controller="Category">Перейти</a>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div>
                <h3 class="fw-bold mb-3 fs-4">
                    <i class="fa-solid fa-basket-shopping me-2"></i>
                    Товари
                </h3>
                <p>Додавати, редагувати, видаляти дані про товари. Отримати інформацію про усі товари, відсортовані за назвою...</p>
                <a class="btn btn-light" asp-action="Index" asp-controller="Product">Перейти</a>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div>
                <h3 class="fw-bold mb-3 fs-4">
                    <i class="fa-solid fa-shop me-2"></i>
                    Товари в магазині
                </h3>
                <p>Додавати, редагувати, видаляти дані про товари у магазині. Отримати інформацію про усі товари у магазині, відсортовані за кількістю...</p>
                <a class="btn btn-light" asp-action="Index" asp-controller="StoreProduct">Перейти</a>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div>
                <h3 class="fw-bold mb-3 fs-4">
                    <i class="fa-solid fa-file-invoice-dollar me-2"></i>
                    Чеки
                </h3>
                <p>
                    Отримати інформацію про усі чеки, створені усіма касирами за певний період
                    часу. Визначити загальну суму проданих товарів з чеків...
                </p>
                <a class="btn btn-light">Перейти</a>
            </div>
        </div>
    </div>
</div>