@model Zlagoda.Models.EditClientViewModel

<div class="container pt-4">
    <div class="row mb-3 mt-2">
        <div class="col d-flex justify-content-between align-items-center flex-nowrap">
            <h4 class="text-start w-100">Редагування постійного клієнта</h4>
            <a asp-action="Index" asp-controller="Client" class="btn btn-sm btn-secondary" style="min-width: 100px;">Назад</a>
        </div>
    </div>
    <form method="POST" asp-action="Edit">
        @foreach (var error in Model.Errors)
        {
            <span class="error">@error<i class="fa-solid fa-xmark close"></i></span>
        }
        <div class="row g-3">
            <input asp-for="Client.card_number" type="hidden" class="form-control" required>
            <div class="col-sm-4">
                <label asp-for="Client.cust_surname" class="form-label">Прізвище</label>
                <input asp-for="Client.cust_surname" type="text" class="form-control" required>
            </div>

            <div class="col-sm-4">
                <label asp-for="Client.cust_name" class="form-label">Ім'я</label>
                <input asp-for="Client.cust_name" type="text" class="form-control" required>
            </div>

            <div class="col-sm-4">
                <label asp-for="Client.cust_patronymic" class="form-label">По-батькові</label>
                <input asp-for="Client.cust_patronymic" type="text" class="form-control" required>
            </div>

            <div class="col-12">
                <label asp-for="Client.phone_number" class="form-label">Контактний телефон</label>
                <input asp-for="Client.phone_number" type="tel" class="form-control" required>
            </div>

            <div class="col-sm-4">
                <label asp-for="Client.city" class="form-label">Місто</label>
                <input asp-for="Client.city" type="text" class="form-control" required>
            </div>

            <div class="col-sm-4">
                <label asp-for="Client.street" class="form-label">Вулиця</label>
                <input asp-for="Client.street" type="text" class="form-control" required>
            </div>

            <div class="col-sm-4">
                <label asp-for="Client.zip_code" class="form-label">Індекс</label>
                <input asp-for="Client.zip_code" type="text" class="form-control" required>
            </div>

            <div class="col-12">
                <label asp-for="Client.percent" class="form-label">Відсоток на знижку</label>
                <input asp-for="Client.percent" type="number" class="form-control" min="0" max="100" required>
            </div>

            <div class="col-12">
                <button class="btn btn-primary w-100" type="submit">Зберегти зміни</button>
            </div>
        </div>
    </form>

</div>