<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-3 g-4 py-5">
    <div class="col d-flex justify-content-around">
        <div>
            <i class="fa-solid fa-plus"></i><br>
            <h3 class="fw-bold mb-0 fs-4">Додати працівника</h3>
            <form action="#" method="POST"><button type="button" class="btn btn-light">Перейти</button></form>
        </div>
    </div>
    <div class="col d-flex justify-content-around">
        <div>
            <i class="fa-solid fa-pen-to-square"></i>
            <h3 class="fw-bold mb-0 fs-4">Редагувати працівника</h3>
            <form action="#" method="POST"><button type="button" class="btn btn-light">Перейти</button></form>
        </div>
    </div>
    <div class="col d-flex justify-content-around">
        <div>
            <i class="fa-solid fa-trash"></i><br>
            <h3 class="fw-bold mb-0 fs-4">Видалити працівника</h3>
            <form action="#" method="POST"><button type="button" class="btn btn-light">Перейти</button></form>
        </div>
    </div>
    <div class="col d-flex justify-content-around">
        <div>
            <i class="fa-solid fa-print"></i><br>
            <h3 class="fw-bold mb-0 fs-4">Видрукувати звіт про всіх працівників</h3>
            <form action="#" method="POST"><button type="button" class="btn btn-light">Перейти</button></form>
        </div>
    </div>
    <div class="col d-flex justify-content-around">
        <div>
            <i class="fa-solid fa-circle-info"></i><br>
            <h3 class="fw-bold mb-0 fs-4">Отримати інформацію про усіх працівників, відсортованих за прізвищем</h3>
            <form action="#" method="POST"><button type="button" class="btn btn-light">Перейти</button></form>
        </div>
    </div>
    <div class="col d-flex justify-content-around">
        <div>
            <i class="fa-solid fa-info"></i><br>
            <h3 class="fw-bold mb-0 fs-4">
                Отримати інформацію про усіх працівників, що займають посаду касира,
                відсортованих за прізвищем
            </h3>
            <form action="#" method="POST"><button type="button" class="btn btn-light">Перейти</button></form>
        </div>
    </div>
</div>